langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
pymupdf
langchain-text-splitters 
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_groq
langchain_chroma
tiktoken
langchainhub
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
requests
pdfplumber
diffusers
torch
llama-parse
llama-index
fitz
google-generativeai